# Este é um ficheiro de exemplo. Copie este ficheiro para .env e preencha com as suas credenciais reais.
# NUNCA envie o seu ficheiro .env para o GitHub.

# URL de conexão com o banco de dados PostgreSQL
DATABASE_URL="postgresql://usuario:senha@localhost/nome_do_banco"

# Chave Secreta da Aplicação
SECRET_KEY="uma_chave_secreta_muito_forte_e_aleatoria"