{% extends "base.html" %}

{% block title %}Administração - Bella Estética{% endblock %}

{% block content %}
<h1>Área de Administração</h1>
<p class="lead">Bem-vindo(a), {{ user.nome }}. Utilize as opções abaixo para gerir o sistema.</p>

<div class="list-group mt-4">
    <a href="/painel/admin/desempenho" class="list-group-item list-group-item-action"><strong>Ver Desempenho da Equipe</strong></a>
    <a href="/painel/admin/fluxo-caixa" class="list-group-item list-group-item-action"><strong>Ver Fluxo de Caixa</strong></a>
    <a href="/painel/admin/contas-correntes" class="list-group-item list-group-item-action"><strong>Gerenciar Contas Correntes</strong></a>

    <hr class="my-2">

    <a href="/painel/admin/funcionarios" class="list-group-item list-group-item-action">Gerenciar Funcionários</a>

    <hr class="my-2">

    <a href="/painel/admin/categorias" class="list-group-item list-group-item-action">Gerenciar Categorias de Serviços</a>
    <a href="/painel/admin/servicos" class="list-group-item list-group-item-action">Gerenciar Serviços</a>
    <a href="/painel/admin/produtos" class="list-group-item list-group-item-action">Gerenciar Produtos</a>

    <hr class="my-2">

    <a href="/painel/admin/configuracoes" class="list-group-item list-group-item-action">Configurações Gerais</a>
</div>
{% endblock %}